<div class="col-10 offset-1 about">
  <h1> About Splurty </h1>
   <p>
    Splurty was built by <a target="_blank" href="https://github.com/samanthal-lee3">Samantha</a>, a web developer student with the University of Denver Coding Bootcamp. As a woman learning the skills necessary to ender the world of web development, Samantha create this application to inspire both herself and other awesome women taking steps to make industry wide change.
  </p>
  <br />
  <p>
     Samantha had learned an incredible about about how HTML, CSS, and Ruby on Rails work together while creating this program. As she progresses through the course, Samantha is looking forward to the opportunity to grow as a leader within the web development community, combining her team-building skills with her new technical abilities. 
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>

  <div class ="row">
    <div class = "col-12 col-sm-4">
      <%= image_tag 'samantha.jpg', class: 'img-fluid' %>
    </div>

    <div class = "col-12 col-sm-7 offset-sm-1">
      <h2 class = "text-center"> Samantha Lee</h2>
      <br />
      <p>
      Samantha Lee is a Web Developer student with the University of Denver Coding Bootcamp </p>
      <br />
      <br />
      <br />

    </div>
  </div>
</div>