<h2 class = "title">
  <span> SPLURTY / No. <%= @quote.id %></span>
  Words of wisdom for awesome women!
</h2>
<br />
<br />
<h1><%= @quote.saying %></h1>
<h2 class = "float-right">- <%= @quote.author %></h2>

<br class = "clear" />
<br />
<br />
<br />

