@import "bootstrap";

.clear {
  clear: both;
}
.circle {
    font-weight:bold;
    font-style: italic;
    position: relative;
    border-radius: 100%;
    background: #ef5368;
    border: 1px solid #F7F7F7;
    width: 80px;
    height: 80px;
    margin: 10px 10px;
    text-align: center;
    color: #grey;
    font-size: 10px;
    line-height: 16px;
    cursor: pointer;
    transform:rotate(11deg);
    }

.slogan {
    font-family: 'quicksandregular';
    font-weight: bold;
    padding-top: 26px;
    font-size: 25px;
  }
.links {
    padding-top: 26px;
}

.links a {
  font-family: 'quicksandbold';  
  color: black;
  font-size: 25px;
  border-bottom: 1px solid #dfdfdf;
}
header {
 border-top: 9px solid #efbac1;
}

hr {
 clear: both; 

}
h1 {
  font-family: 'quicksandregular';
  font-weight: 600;
  letter-spacing: -1.5px;
}
h2 {
  font-family: 'quicksanditalic';
  font-weight: 600;
  font-style: italic;
  letter-spacing: -1.5px;
}

.next-quote {
  color: #ef5368;
  font-family: 'quicksandregular';
  font-size: 20px;
}


.footer-blurb {
  font-family: 'quicksanditalic';
  font-style: italic;
  text-align: right;
  font-size: 15px;
}
.logo:hover {
  text-decoration: none;
}

.about {
  font-family: 'quicksanditalic';

}
